.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row: repeat (3,1fr);
    grid-template-areas: 
    "header header header"
    "nav main aside"
    "footer footer footer"
    ;
    gap: 10px;
}
.header {
    grid-area: header;
    background-color: aqua;
    padding: 20px;
    text-align: center;
}
.navbar {
    grid-area: nav;
    background-color: blue;
    padding: 20px;
    text-align: start;

}
.main {
    grid-area: main;
    background-color: blueviolet;
    padding: 20px;
    text-align: center;
}
img {
    width: 50px;
    height: 80px;
}
.footer {
    grid-area: footer;
    background-color: blanchedalmond;
    padding: 20px;
    text-align: center;
}
.aside {
    grid-area: aside;
    background-color: azure;
    padding: 20px;
    text-align: end;
}