.div {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-areas:
        "header header header"
        "section section section"
        "footer footer footer";
    padding: 5px;


}

header {
    background-color: aqua;

}

footer {
    background-color: #a02d2d;

}

section {
    background-color: blueviolet;

}

li {
    border-bottom: brown;
    border: 20px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2px;
    border: 10% solid black rgb(0, 0, 0);
}
/* hay que pisar lo que queremos tapar*/
@media (max-width:768px) {
    .div {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "header"
            "section"
            "footer";
    }
    .ul {
        flex-direction: column;
    }

}