
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2px;
    border: 10% solid black rgb(0, 0, 0);
}
li {
    border-bottom: brown;
    border: 20px;
}
.texto {
    position: absolute;
    top: 50px;
    width: 50px;
    height: max-content;
    background-color: aqua;
    padding: 5px;
    border-bottom: #505634;
    border: 5px solid black;
}

.productos {
    display: flex;
}
.bolsones {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
div {
    margin: 20px;
    padding: 10px;
    border: 10px;
}

.navheader {
    background-color: bisque;
}
.navheader ul {
    justify-content: space-between;
}
.navheader li {
    margin: 0 15px4
}
.navheader a {
    color: rgb(206, 17, 49);
    display: block;
}
.nav-link.active {
    font-size: 25px;
}
.btn-outline-success {
    font-size: 25px;
}
.presentacion {
    width: 1194px;
    height: auto;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
}
.carousel-inner {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgb(16, 80, 0);
    border: #24303c solid ;
}
.pie-pagina {
    width: 100%;
    background-color: rgb(0, 117, 59);
}
.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.box2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 10px;
}
.redsocial img {
    width: 50px;
    height: 50px;
    margin: 10px;
    align-content: space-between;
}
.redsocial a {
    color: white;
    margin: 10px;
    align-content: space-between;
}
.redsocial {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 400px) {
    body {
        font-size: 15px;
        padding: 10px;
        background-color: rgb(53, 245, 229);
    }
    footer {
        width: 300px;
    }
    .presentacion {
        width: 300px;
    }
    .redsocial {
        width: 300px;
    }
    .iconos {
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 600px) {
    body {
        font-size: 18px;
        padding: 20px;
        background-color: rgb(239, 255, 146);
    }
    footer {
        width: 400px;
    }
    .presentacion {
        width: 400px;
    }
    .redsocial {
        width: 400px;
    }
    .iconos {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 1024px) {
    body {
        font-size: 20px;
        padding: 30px;
        background-color: pink;
    }
    footer section {
        width: 1024px;
    }
    .presentacion {
        width: 1024px;
    }
    .redsocial {
        width: 1024px;
    }
    .iconos {
        width: 50px;
        height: 50px;
    }
  
    
}