.logo {
    width: 150px;
    height: 150px;
}
.titulo {
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    background-color: #22577A;
    align-content: center;
    color: white;
    text-align: center;
}
.subtitulo {
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    color: black;
    text-align: center;
}
.pre1 {
    text-align: center;
    align-content: center;
    position: relative;
    padding-inline: 10px;
}
.pre2 {
    padding: 20px;
    width: 1200px;
    height: 600px;
    
}
.carousel-item {
    text-align: center;
    align-content: center;
    padding-inline: 10px;
}
.img1 {
    width: 1200px;
    height: 600px;
}

footer {
    background-color: #22577A;
    padding: 10px;

}
.icono {
    width: 50px;
    height: 50px;
    padding: 10px;
}

a {
    color: white;
    padding: 20px;
}
.redsocial {
    text-align: end;
    align-items: center;
    
}
.h2foo {
    text-align: end;
    align-items: center;
    color: white;
    padding: 20px;
}
.grupo-1 {
    display: grid;
    grid-template-columns: 50% 50%;
}
.logofoo {
    width: 75px;
    height: 75px;
}
@media (max-width: 1200px) {
    .pre2 {
        width: 600px;
        height: 300px;
    }
    .img1 {
        width: 600px;
        height: 300px;
    }
    .subtitulo {
        font-size: 25px;
    }
    .grupo-1 {
        display: grid;
        grid-template-columns: none;
    }
    .logofoo { 
        width: 40px;
        height: 40px;
    }
    .icono {
        width: 30px;
        height: 30px;
    }
    .h2foo {
        text-align: end;
        align-items: end;
        color: white;
        padding: 10px;
        font-size: 20px;
    }
}
@media (max-width: 600px) {
    .pre2 {
        width: 300px;
        height: 150px;
    }
    .img1 {
        width: 300px;
        height: 150px;
    }
    .subtitulo {
        font-size: 20px;
    }
    .grupo-1 {
        display: grid;
        grid-template-columns: none;
    }
    .logofoo { 
        width: 20px;
        height: 20px;
    }
    .h2foo {
        text-align: end;
        align-items: end;
        color: white;
        padding: 10px;
        font-size: 15px;
    }
}

/** contactos **/
.formulario {
    width: 400px;
    background-color: #22577A ;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    display: flex;
    flex-direction: column;

}
.formulario h4 {
    font-size: 22px;
    margin-bottom: 20px;
}
.controls {
    width: 100%;
    background: #C7F9CC;
    padding: 10px;
    border-radius: 4px ;
    margin-bottom: 16px;
    border: 1px solid black;
}
.formulario .button {
    width: 100%;
    background-color: aliceblue;
    border: none;
    padding: 12px;
}

/** Proximas entregas **/ 
.tarj {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card-img-top {
    width: 286px;
    height: 166px;
    display: flex;
    justify-content: center;
    align-items: center;
}

