header {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat (3,1fr);
    grid-template-areas: 
    "nav"
    "section  "
    "footer "
    ;
}
article {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "figure h2"

    ;
}
ul {
    display: grid;
    grid-template-columns: repeat(5, 15%);
    padding: 10px;
    grid-row: 1fr;
    background-color: aqua;
    justify-content: space-between;
}
div {
    background-color: rgb(37, 25, 206);
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr;

}
.presentacion {
    width: 50%;
    height: 50%;
}
h2 {
    width: 50%;
    height: 50%;
}
.bolsones {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;

}
@media (max-width:768px) {
    ul {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,1fr);
        grid-template-areas:
        
    }


}