

.logo {
    @include logos (150px, 150px);

    @include tablet {
        display: flex;
        width: 75px;
        height: 75px;
        justify-content: space-around;
        align-items: center;


    }

    @include celular {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60px;
        height: 60px;
    }
}

.imagenes {
    @include logos (50%, 200px);
    object-fit: contain;
    
    @include tablet {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @include celular {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}
.imagenes1 {
    @include logos (100%, 600px);

    @include tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 450px;


    }

    @include celular {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
    }
}


.btn-outline-success {
    border-color: $border-color;
    color: $color-gris;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.2rem;

    &:hover {
        background-color: $color-contraste;
        color: $border-color;
    }
}

.navbar {
    background-color: $secondary-color;
    transition: background-color 0.3s;
    font-size: 1.2rem;

    .navbar-nav {
        .nav-link {
            color: $color-contraste;
            transition: color 0.3s;

            &:hover {
                color: $secondary-color;
                background-color: $color-contraste;
            }
        }
    }
}

.principio {
    border: solid $border-color 2px;
    border-radius: 12px;
    margin: 10px;
    padding: 20px;
    background-color: $color-gris;

}

.recetario { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    justify-items: center;
    align-items: center;
   

    @include tablet {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    @include celular {
        display: grid;
        grid-template-columns: repeat(1, 3fr);
    }

}
.receta {
    border: solid $border-color 2px;
    border-radius: 12px;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;

    @include tablet {
       max-height: max-content;
    }

    @include celular {
        max-height: max-content;
    }

}

.rece1 {
    background-color: $primary-color;
    color: $text-color;
}

footer {
    background-color: $color-fondo;
    padding: 20px;
    width: 100%;



    .grupo-1 {
        @include logos (100%, 150px);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 90%;

        @include tablet {
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 500px;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;


        }

        @include celular {
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 500px;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
        }

        .box1 {
            display: flex;
            align-items: start;
            margin: 10px;
        }

        .box2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;
        }

        .box3 {
            display: flex;
            flex-direction: column;
            align-items: end;
        }

        a {
            text-decoration: none;
            color: $color-contraste;
            margin: 5px 0;
            display: flex;
            align-items: center;
        }

        i {
            padding: 5px;
        }
    }

    .h2foo {
        margin: 0;
        color: $color-contraste;
    }

    .copy {
        margin-top: 20px;
        font-size: 0.9rem;
        color: $color-gris;
    }
}