//* caracteristicas generales de todos
$primary-color: #ACBF65;
$secondary-color: #6b8e23;
$text-color: #1D260F;
$border-color: #bcbeb9;
$font-family:  "Nunito", sans-serif;
$color-fondo: #22577A;
$color-contraste: white;
$color-gris: #ccc;

